// setting variables in CSS
$background-black: #000;
// $hover-blue: #2A95BF;
$hover-black: rgb(71, 71, 71);
$page-not-found-gray: rgb(194, 194, 194);
// $logo-blue: #4366F5;
$dark-teal: #325765;
$text-medium-gray: rgb(123, 123, 123);
$text-white: #FFF;
// $light-gray: #EFEFEF;
$background-gray: rgb(253, 97, 175);
$light-blue: lightblue;


// color palette simplified
$black: black;
$white: white;
$logo-blue: #4674f4;
$logo-blue-light: #91aaf4;
$navy: #0b1837;
$dark-bluegray: #2a344a;
$medium-gray: #5c7186;
$light-gray: #bfc7d2;

// for coin data
// $chartJS-green: rgb(42, 178, 10);
$chartJS-green: rgb(30, 191, 113);
$chartJS-red: rgb(210, 42, 73);