// setting variables in CSS
$background-black: #000;
$hover-blue: #8599eb;
$hover-black: rgb(71, 71, 71);
$page-not-found-gray: rgb(194, 194, 194);
$logo-blue: #4366F5;
$text-gray: rgb(123, 123, 123);
$text-white: #FFF;