$logo-font-family: 'Poppins', sans-serif;
$lucida-sans-serif-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$news-sidebar-font: din-2014,Helvetica Neue,Helvetica,Arial,sans-serif;
$thematic-card-font: Brandon Text, Arial, sans-serif;
$monospace: monospace;
$arial-sans-serif: Arial, Helvetica, sans-serif;