// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.loginForm {    
    &__form {
        // background-color: $light-gray;
        padding: 0px 10px 10px 10px;
        line-height: 2em;
        width: 300px;
        text-align: center;
        &__inner {
            &__fields {
                display: inline-block;
                &__group {
                    text-align: right;
                    input {
                        border: none;  
                    }
                }
            }
        }
    }


    &__submitButton {
        input {
            margin-top: 30px;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 8px;
            background-image: linear-gradient(to bottom right, $logo-blue 50%, $logo-blue 50%, $light-gray);
            background-size: 200%;
            background-position: 0%;
            transition: 0.4s;
            color: white;
            cursor: pointer;
            text-align: center;
            width: 35%;
            font-size: 16px;
            margin: 15px auto;
            border: none;

            &:hover {
                background-position: 100% 0%;
            }
        }
        
        
    }

}