@import '../../designUtils/colors';
@import '../../designUtils/media';

.MemoryApp {
  // background-color: $dark-bluegray;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  &__cardGrid {
    margin: 15px auto;
    display: grid;
    width: 80%;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 5px;
  }
  
  &__singleCard {
    position: relative;
    margin: 0 auto;

    img {
      width: 80%;
      display: block;
      border: 2px solid $background-black;
      border-radius: 6px;
      // margin: 0 auto;
    }

    // front of card - the picture
    // 90deg hides it
    &__cardFront {
      transform: rotateY(90deg);
      transition: all ease-in 0.2s;
      position: absolute;
    }

    &__flipped &__cardFront{
        transform: rotateY(0deg);
        transition-delay: 0.2s;
        // margin: 0px 13.625px 0px 13.625px;
    }

    // back of card - cover
    &__cardBack {
      transition: all ease-in 0.2s;
      transition-delay: 0.2s;
    }

    &__flipped &__cardBack {
        transform: rotateY(90deg);
        transition-delay: 0s;
      }
  } 

  button {
    background: $logo-blue;
    border: 2px solid $white;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    color: $white;

    &:hover {
      background: $logo-blue-light;
      color: $black;
      border: 2px solid $black;
    }
  }
}




// MOBILE styling
@media only screen and (max-width: $mobile){
  .MemoryApp {  
    &__cardGrid {
      margin: 40px auto;
      display: grid;
      width: 90%;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }

    &__singleCard {
      img {
        width: 90%;
      }
    }
  }
}