.navbar {
  /* background-color: plum; */
  background-color: #4366f5;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "navcontainer navlinkscontainer";
}

.navbar-logo-container {
  grid-area: navcontainer;
}

.navbar-logo-container a {
  text-decoration: none;
  color: white;
}

.navbar-logo-and-text {
  padding-left: 3px;
  padding-top: 3px;
  display: flex;
}

/* -------LOGO--------- */
.nav-app-logo img {
  height: 50px;
}
/* -----APP NAME-------- */
.nav-app-name {
  padding-top: 5px;
  font-size: 27px;
  margin-left: 5px;
  position: relative;
}

.nav-app-tag {
  font-style: italic;
  font-size: 10px;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 8px;
}

/* -------------Navbar Links------------- */
.navbar-links-container {
  grid-area: navlinkscontainer;
  background-color: lightcoral;
}

.navbar-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.navbar-links >div {
  border: 1px solid yellow;
  text-align: center;
  background-color: #7ca288;
  height:max-content;
}

.navlinks {
  /* background-color: #1f358d; */
  /* padding: 20px; */
}

.navlinks a {
  /* background-color: #0b6b78; */
  color: white;
  text-decoration: none;
  /* padding: 1em; */
}

/* ------------Dropdown Button------------ */
/* Dropdown Button */
.dropbtn {
  background-color: #73329f;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}