// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.newspaper {
  &__header {
    text-align: center;
    text-transform: uppercase;
  }

  // main body of web page 
  &__main {
    display: flex;
    flex-direction: row;

    &__article {
      border: 1px solid $black;
      margin: 10px;

      h2 {
        text-transform: uppercase;
        text-align: center;
      }
      
      &__photo{
        img {
          height: 120px;
          width: 120px;
          padding: 10px;
          float: left;
          object-fit: cover;
        }
      }

      &__content{
        p {
          margin: 10px;
        }
      }

      &__contentBelow {
        margin: 10px;
      }
    }

    // sidebar sections
    &__sidebar {
      margin: 10px;
      border: 1px solid black;
      font-family: din-2014,Helvetica Neue,Helvetica,Arial,sans-serif;
      
      &__title {
        text-transform: uppercase;
        padding: 20px;
        border-bottom: 1px #ccc solid;
        font-weight: 600;
        font-size: 14px;
        .red-circle {
          border: 3px red solid;
          height: 7px;
          width: 7px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
        }
      }
      
      &__list {
        padding: 20px;

        img {
          width: 100%;
          height: 100%;
        }
        
        .article {
          display: grid;
          grid-template-columns: 1fr 8fr;
          padding-top: 10px;
          
          &:not(:last-child){
            border-bottom: 1px #ccc solid;
            padding-bottom: 10px;
          }
          
          &__number {
            color: red;
          }
          
          &__title {
            font-weight: 600;
          }
        }
      }
    }
  }
}

// medium screens styling
@media only screen and (max-width: $mediumScreen){
  .newspaper {  
    &__main {
      flex-direction: column;
      &__sidebar {
        width: 97vw;
        &__list {
          .articles {
            flex-direction: row;
          }
        }
      }
    }
  }
}

// mobile screens styling
@media only screen and (max-width: $mobile){
  .newspaper {  
    &__main {
      &__sidebar {
        width: 94%;
      }
    }
  }
}

