// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.newspaper {
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    text-align: center;
    text-transform: uppercase;
  }

  // main body of web page 
  &__main {
    display: flex;
    flex-direction: row;

    &__article {
      border: 1px solid $black;
      margin: 10px;

      h2 {
        text-transform: uppercase;
        text-align: center;
      }
      
      &__photo{
        img {
          height: 120px;
          width: 120px;
          padding: 10px;
          float: left;
          object-fit: cover;
        }
      }

      &__content{
        p {
          margin: 10px;
        }
      }

      &__contentBelow {
        margin: 10px;
      }
    }

    
  }
}

// medium screens styling
@media only screen and (max-width: $mediumScreen){
  .newspaper {  
    &__main {
      flex-direction: column;
      &__sidebar {
        width: 97vw;
        &__list {
          .articles {
            flex-direction: row;
          }
        }
      }
    }
  }
}

// mobile screens styling
@media only screen and (max-width: $mobile){
  .newspaper {  
    &__main {
      &__sidebar {
        width: 94%;
      }
    }
  }
}

