@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

.About {
    text-align: center;
    font-family: $logo-font-family;
    margin: 40px;

    article p {
        column-count: 2;
        column-gap: 40px;
        text-align: justify;
    }
}