// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

// .currencies {
//     border: 2px solid green;
// }

.currency {
    margin: 10px 0px;
    background-color: $dark-bluegray;

    &__coinName {
        // display: flex;
        // flex-direction: row;
        display: inline-block;
        margin: 0px 10px;
        
        // line-height: 1;
        &__coinLogo {
            display: inline-block;
            vertical-align: middle;
            img {
                height: 50px;
                width: 50px;
            }
        }
        
        &__coinNameHeader {
            margin-left: 8px;
            display: inline-block;
            vertical-align: middle;
            color: $white;
        }
    }


    &__details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: $light-gray;

        div {
            padding: 5px 20px;
        }
    }

}