@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

.home {
    text-align: center;
    font-family: $logo-font-family;

    &__logo{
        color: $logo-blue;
    }
}