@import "../../designUtils/colors";
@import "../../designUtils/fonts";
@import "../../designUtils/media";

.home {
  font-family: $logo-font-family;

  &__container {
    // margin: 0 auto;
    padding-top: 10px;
    // margin: 50px 100px;
    margin: 2% 5%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas: 
      "leftside rightside"
      "leftside rightside";

    &__leftSideOfPage {
      // border: 2px solid green;
      grid-area: leftside;

      &__largeSneaker {
        width: 100%;
        height: 100%;

        img{
          max-width: 100%;
          height: 100%;
          filter: brightness(75%);
          // position: relative;
        }
      }
      &__headerText {
        color: white;
        margin: -120px 0px 0px 50px;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 33px;
        position: absolute;
        transform: scale(1, 1.2);
        width: 45%;
      }
      &__subHeaderText {
        color: white;
        margin: -70px 0px 0px 50px;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 20px;
        position: absolute;
        transform: scale(1, 1);
        width: 35%;
      }
    }

    &__rightSideOfPage {
      // border: 2px solid hotpink;
      grid-area: rightside;
      display: grid;
      grid-template-rows: auto;
      row-gap: 10px;

      &__sneakerContainer {
        &__sneaker {
          background-color: deepskyblue;
          // width: 390px;
          // height: 250px;
          img {
            width: 100%;
            height: 100%; 
            object-fit: contain;
            // width: 390px;
            // height: 240px;
            filter: brightness(80%);
            position: relative;
          }
        }
        &__title {
          color: white;
          margin: -55px 0px 0px 20px;
          font-family: sans-serif;
          font-weight: 600;
          font-size: 14px;
          text-align: bottom;
          position: absolute;
          transform: scale(1, 1.2);
          width: 30%;
        }
      }
    }

  }
}

// medium screens styling
@media only screen and (max-width: $mediumScreen){
  .home {  
      &__container {
        // display: block;
        
        &__leftSideOfPage {    
          &__headerText {
            margin: -90px 0px 0px 20px;
            font-size: 25px;
            width: 80%;
          }
          &__subHeaderText {
            margin: -50px 0px 0px 20px;
            font-size: 14px;
            width: 40%;
          }
        }

        &__rightSideOfPage {    
          &__sneakerContainer {
            &__title {
              margin: -40px 0px 0px 10px;
              font-size: 12px;
              width: 30%;
            }
          }
        }
        
      }
  }
}

// mobile screens styling
@media only screen and (max-width: $mobile){
  .home {  
      &__container {
        display: block;

        &__leftSideOfPage {    
          &__headerText {
            margin: -120px 0px 0px 20px;
            font-size: 25px;
            width: 80%;
          }
          &__subHeaderText {
            margin: -50px 0px 0px 20px;
            font-size: 14px;
            width: 80%;
          }
        }

        &__rightSideOfPage {    
          &__sneakerContainer {
            &__title {
              margin: -40px 0px 0px 20px;
              font-size: 12px;
              width: 80%;
            }
          }
        }
        
      }
  }
}