@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

.home {
    // text-align: center;
    font-family: $logo-font-family;

    &__logo{
        color: $logo-blue;
    }

    // regular css below:
    // .sneakerNewsContainer {
    // }
    .container {
        margin: 0 auto;
        width: 90vw;
        display: grid;
        column-gap: 30px;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
          "left right"
      }
      .leftSideOfPage {
        grid-area: left;
      }
      
      .rightSideOfPage {
        grid-area: right;
      }
      
      .largeSneaker img {
        margin-top: 5px;
        height: 505px;
        filter: brightness(75%);
        position: relative;
      }
      
      .headerText {
        color: white;
        margin: -120px 0px 0px 80px;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 33px;
        position: absolute;
        transform: scale(1, 1.2);
        width: 400px;
      }
      .subHeaderText {
        color: white;
        margin: -70px 0px 0px 80px;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 20px;
        position: absolute;
        transform: scale(1, 1);
        width: 400px;
      }
      
      .sneakerContainer {
        margin-top: 5px;
      }
      .sneaker {
        background-color: deepskyblue;
        width: 390px;
        height: 250px;
      }
      .sneaker img {
        width: 390px;
        height: 240px;
        filter: brightness(80%);
        position: relative;
      }
      
      .title {
        color: white;
        margin: -55px 0px 0px 20px;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: bottom;
        position: absolute;
        transform: scale(1, 1.2);
        width: 280px;
      }
}