@import '../../designUtils/colors';

.inputButton {
    display: inline-block;
    padding: 5px 10px;
    background-color: $logo-blue;
    color: $white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    // margin: 0px 5px;
    
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px $dark-bluegray;
    }
}