/* header {
  background:#4366f5;
  text-align: center;
  height: 150px;
} */

/* #chart-widget {
  background: linear-gradient(#4366f5, #000000);
  text-align: center;
  padding: 5px;
  grid-area: "chart";
} */