@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

// footer
.footer {
    // z-index: 10000;
    // bottom: 0px;
    // left: 0;
    // width: 100%;
    position: relative;
    margin: 0px;
    // background-color: $logo-blue;

    &__categories {
        color: white;
        width: 100%;          
        position: absolute;
        background-color: $logo-blue;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        
        ul {
            margin: 0 auto;
            list-style-type: none;
            line-height: 2em;
            margin-top: 15px;
            margin-bottom: 30px;

            li {
                font-size: 80%;
                line-height: 1.5em;
            }
        }

        &__copyright {
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            width: 100%;
            background-color: #777;
            padding: 5px;
        }     
    }

  }

//   mobile screens styling
@media only screen and (max-width: $mobile){
    .footer {
        width: 100vw;

        &__categories {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}