@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

// footer
.footer {
    position: relative;
    margin: 0px;

    &__categories {
        background-image: linear-gradient($logo-blue, $dark-bluegray);
        color: $white;
        width: 100%;          
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        ul {
            list-style-type: none;
            padding-left: 0px;

            li {
                font-size: 80%;
                line-height: 1.5em;
                a {
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__copyright {
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            width: 100%;
            padding: 5px;
        }     
    }
  }
