// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.ribbon {
    height: 0px;
    width: -1px;
    float: right;
    margin-top: 10px;
      
    
    &__banner{
      clip-path: inset(-28px 0px -28px 0px); /* or "none" */
    //   background-color: pink;
      margin-right: -15px;
      padding-left: 0px;
      margin-left: -5px;

        &__bannerText{
            transform: rotate(45deg);
            background-color: $logo-blue;
            padding-left: 23px;
            padding-right: 23px;
            color: white;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border: none;
        }
    }
}