// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

// DESKTOP styling
.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    background-color: $logo-blue;
    height: 50px;

    padding: 10px 10px;

    &__logo {
        float: left;
        color: $text-white;
        display: flex;
        font-family: $logo-font-family;

        &__cryptotalkLogo img {
            height: 50px;
        }

        &__appName {
            position: relative;
            float: left;
            padding-top: 5px;
            font-size: 27px;
            margin-left: 5px;
            &__tag {
                position: absolute;
                font-style: italic;
                font-size: 10px;
                text-align: right;
                right: 0;
                bottom: 8px;
            }
        }
    }

    &__menuItems {
        float: right;
        ul {
            list-style-type: none;

            li {
                display: inline;
                margin-left: 25px;
                a {
                    text-decoration: none;
                    color: $text-white;
                    padding: 10px;
                }
    
                a:hover {
                    background-color: $hover-blue;
                    border-radius: 10px;
                }              
            }
        }

        // ----light/dark button
        &__nightDay {
            float: right;
            color: white;
            margin-right: 20px;
        }
    }

    &__collapsedMenuIcon {
        display: none;
    }
}

// MEDIUM SCREEN styling
@media only screen and (min-width: $mobile) and (max-width: $mediumScreen){
    .navbar {
        &__menuItems {
            float: none;
            
            ul {
                text-align: left;
                padding: 0px;
                margin: 10px;
                background-color: $logo-blue;

                li {
                    float: left;
                    
                    a {
                        font-size: 16px;
                        padding: 3px 2px;
                    }           
                }
            }
             
            // ----light/dark button
            &__nightDay {
                float: none;
            }
        }     
    }
}


// MOBILE styling
@media only screen and (max-width: $mobile){
    .navbar {
        padding: 0;
        

        &__logo {
            margin-left: 10px;

            &__cryptotalkLogo img {
                padding-top: 1px;
                height: 47px;
            }

            &__appName {
                font-size: 25px;
                &__tag {
                    font-size: 8px;
                }
            }
        }

        &__menuItems {
            display: none;

            &-active {
                display: block;
                position: absolute;
                top: 50px;
                background-color: $background-black;
                width: 100%;
                border-bottom: 1px solid black;
                text-align: center;

                ul {
                    padding: 0;
         
                    li {
                        display: block;
                        margin: 10px 0;

                        a {
                            background-color: $hover-black;
                            display: inline-block;
                            width: 90%;
                            border-radius: 10px;
                        }
                    }
                }
            }

            // ----light/dark button
            &__nightDay {
                float:none;
                color: white;
            }
        }

        &__collapsedMenuIcon {
            display: block;
            margin-right: 15px;
            margin-top: 5px;
            float: right;
            font-size: 40px;
            color: $text-white;
        }
    }
}
