// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';

// DESKTOP styling
.navbar {
    z-index: 2;    
    transition: top 0.3s;
    background-color: $logo-blue;
    height: 50px;
    padding: 10px 10px;

    &__items{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menuItemData {
        display: flex;
        flex-direction: row;
        margin-right: 50px;
        align-items: center;   

        &__menuItem {
            padding: 20px 15px;
            display: flex;
            width: 80px; // visible on navbar
            text-align: center;
            
            a {
                width: 110px; // width of button
                text-decoration: none;
                color: $white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        &__submenuItem {
            top: 0px;
            color: peru;
            display: flex;
            flex-direction: column;
            padding: 20px 15px;
            width: 80px; // visible on navbar
            text-align: center;
            
            a {
                position: relative;
                text-decoration: none;
                color: $white;
                width: 100%;
                &:hover {
                    text-decoration: underline;
                }
            }

            .submenuItemLink {
                z-index: 3;
                top: 70px;
                position: absolute;
                display: flex;
                flex-direction: column;

                a {
                    background-color: $logo-blue-light;
                    color: white;
                    padding: 10px 20px;
                    text-align: left;
                    border: 1px solid white;
                    &:hover {
                        background-color: $medium-gray;
                        text-decoration: none;
                    }
                }
            }
        }
        &__loginAndTheme {
            display: inline-flex;
            justify-content: space-between;
            width: 120px;
            &__loginLogout {
                // this button is from Material UI
                display: flex;
                align-items: center;
                justify-items: center;
                button {
                    border-radius: 0px;
                    height: 20px;
                    color: $white;
                    text-transform: capitalize;
                    font-size: 16px;
                    padding: 0px;
                    margin: 0px;
                    border: none;
                    width: 80px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    
            &__themeButton {
                button {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                }
            }
        }
    }

    &__collapsedMenuIcon {
        display: none;
    }
}

// MEDIUM SCREEN styling
@media only screen and (min-width: $mobile) and (max-width: $mediumScreen){
    .navbar {
        &__menuItemData {
            display: none;

            &__loginAndTheme {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                &>* {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-items: center;
                }
            }

            // when collapsed menu is open
            &--active {
                margin: 0 auto;
                z-index: 10;
                display: block;
                position: absolute;
                top: 70px;
                background-color: $background-black;
                text-align: center;
                color: $white;

                ul {
                    padding: 0;
                    
                    li {
                        display: block;

                        a {
                            display: inline-block;
                            color: $white;
                            &:visited {
                                color: white;
                            }
                        }
                    }
                }
            }
            
            &__loginAndTheme {
                display: flex;
                width: 95vw;
                &__loginLogout {
                    // this button is from Material UI
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    button {
                        border-radius: 0px;
                        height: 20px;
                        color: $white;
                        text-transform: capitalize;
                        font-size: 16px;
                        padding: 0px;
                        margin: 0px;
                        border: none;
                        width: 80px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
        
                &__themeButton {
                    button {
                        display: flex;
                        align-items: center;
                        justify-items: center;
                    }
                }
            }
       
            // collapsed menu - OPEN VIEW, show all menu items with non-hoverable submenu items
            &__menuItem {
                width: 90vw;
                display: flex;
                flex-direction: column;
                border: 1px solid white;
                align-items: center;
                justify-items: center;

                &__nonHoverSubmenuItem {
                    // border: 2px solid red;
                    display: flex;
                    flex-direction: column;

                    a {
                        color: $logo-blue;
                        // border: 2px solid green;
                    }
                }
            }
        }

        // hamburger menu or X icon
        &__collapsedMenuIcon {
            display: block;
            margin-right: 15px;
            margin-top: 5px;
            float: right;
            font-size: 40px;
            color: $text-white;
            cursor: pointer;
            
            // when collapsed menu is open, show icon
            &--active {
                display: block;
                margin-right: 15px;
                margin-top: 5px;
                float: right;
                font-size: 40px;
                color: $logo-blue-light;
                cursor: pointer;
            }            
        }
    }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .navbar {
        margin-top: -50px;
        max-width: $mobile;

        &__menuItemData {
            display: none;

            &__loginAndTheme {
                display: flex;
                flex-direction: column;
                width: $mobile;
                margin: 10px 0px;

                &>* {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-items: center;
                }

                &__loginLogout {
                    // this button is from Material UI
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    button {
                        text-transform: capitalize;
                        font-size: 16px;
                        margin: 0px;
                        border: none;

                        // main button for navigation
                        width: 95vw;
                        background-color: $medium-gray;
                        color: $text-white;
                        border-radius: 5px;
                        padding: 20px 0px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
        
                &__themeButton {
                    button {
                        display: flex;
                        align-items: center;
                        justify-items: center;      
                        padding: 20px 145px;
                    }
                }
            }

            // when collapsed menu is open
            &--active {
                margin: 0 auto;
                z-index: 10;
                display: block;
                position: absolute;
                top: 70px;
                background-color: $background-black;
                text-align: center;
                color: $white;
                margin: 0px -15px;
                ul {
                    padding: 0;
                    li {
                        display: block;
                        a {
                            display: inline-block;
                            color: $white;
                            &:visited {
                                color: white;
                            }
                        }
                    }
                }
            }
       
            // collapsed menu - OPEN VIEW, show all menu items with non-hoverable submenu items
            &__menuItem {
                display: flex;
                flex-direction: column;
                // border-width: 1px;
                // border-color: $white;
                // border-style: solid none solid none;
                align-items: center;
                justify-items: center;
                width: $mobile;
                padding-left: 0px;

                a {
                    // main buttons for navigation
                    width: 95vw;
                    background-color: $medium-gray;
                    color: $text-white;
                    border-radius: 5px;
                    padding: 10px 0px;
                }

                &__nonHoverSubmenuItem {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    a {
                        // secondary buttons for navigation
                        width: 95vw;
                        border: 2px solid $medium-gray;
                        background-color: transparent;
                    }
                }
            }
        }

        // hamburger menu or X icon
        &__collapsedMenuIcon {
            display: block;
            margin-right: 15px;
            margin-top: 5px;
            float: right;
            font-size: 40px;
            color: $text-white;
            cursor: pointer;
            
            // when collapsed menu is open, show X icon
            &--active {
                display: block;
                margin-right: 15px;
                margin-top: 5px;
                float: right;
                font-size: 40px;
                color: $logo-blue-light;
                cursor: pointer;
            }            
        }
    }
}