@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

.coinList {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;

    a {
        text-decoration: none;
        color: black;
    }

    &__collection{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.coin {
    &__card {
        border: 0.5px solid lightgray;
        padding: 20px;
        margin: 5px;

        &:hover {
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        hr {
            color: lightgray;
        }

        &__logo {
            display: flex;
            img {
                height: 30px;
                width: 30px;
            }
            
            &__coinName {
                margin: 3px;

                &__symbol {
                    color: $light-gray;
                    font-weight: 300;
                    padding-left: 5px;
                }
            }
            
        }

        &__basicInfo {
            font-size: 12px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            &__price {
                font-size: 14px;
            }
            &__lastUpdated {
                margin-top: 5px;
            }
        }
    }
}

.coinDetails {
   padding: 10px;

    &__coinCard {
        border: 0.5px solid lightgray;
        margin: 10px 5px 5px 5px;
        

        &__logo {
            padding: 5px 15px;
            display: flex;
            font-weight: 600;
            font-size: 20px;
            line-height: 2em;
            background-color: $dark-bluegray;
            color: white;

            img {
                height: 50px;
                width: 50px;
            }
            
            &__coinName {
                margin: 3px;
            }  
        }
        &__details {
            line-height: 1.5em;
            padding: 20px;
            background-color: $light-gray;
        }
    }    
}

// // medium screens styling
// @media only screen and (max-width: $mediumScreen){
//     .coinList {  
//         &__collection{
//             grid-template-columns: repeat(2, 1fr);
//         }
//     }
// }
