@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

.coinList {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;

    a {
        text-decoration: none;
        color: black;
    }

    &__missingCollection{
        margin: 0 auto;
        text-align: center;
    }

    &__collection{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
