@import './designUtils/colors';
@import './designUtils/media';

.App {
    margin-top: 70px;

    // Darkmode
    color: var(--text-primary);
    background-color: var(--background);
    min-height: 100vh; // => background fills entire page
    transition: all .5s;
    border: none;

    // Darkmode
    .switchThemeButton {
        color: $white;
        border: none;
        transition: all .5s;
        // padding: 4px 5px 1px 5px;
        // background-color: var(--background);
        background-color: $logo-blue;
        margin-right: 3px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 16px;
        margin-top: 15px;
        padding-top: 5px;
        height: 30px;
        border: 1px solid transparent;
        
        &:hover {
            border: 1px solid $white;
        }
    }
}

.pageNotFound {
    padding-top: 10px;
    &__circle {
        margin: 0 auto;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        border: 3px solid $light-gray;
    }

    &__antenna {
        margin: 0 auto;
        height: 50px;
        width: 0.1px;
        border: 2px solid $light-gray;
    }

    &__container {
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border: 3px solid $light-gray;
        border-top-left-radius: 75px;
        border-top-right-radius: 75px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        color: $logo-blue;
        width: 50vw;
    }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .App {
        margin-top: 50px;
    }

    .pageNotFound {
        &__container {
            width: 80vw;
        }
    }
}