@import './designUtils/colors';
@import './designUtils/media';

.App {
    margin-top: 70px;

    // Darkmode
    color: var(--text-primary);
    background-color: var(--background);
    min-height: 100vh; // => background fills entire page
    transition: all .5s;

    // Darkmode
    button {
        color: var(--text-primary);
        background-color: var(--background);
        border: 2px var(--text-primary) solid;
        transition: all .5s;
        padding: 3px 5px 2px 5px;
        background-color: $page-not-found-gray;
        margin-right: 20px;
    }
}

.pageNotFound {
    text-align: center;
    padding: 10px;
    margin: 50px;
    border: 3px solid $page-not-found-gray;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: $logo-blue;

    &__robot {
        font-size: 60px;
        color: $logo-blue;
    }

    &__backButton{
        a {
            color: $logo-blue;
        }
        a:visited {
            color: $logo-blue;
        }
        a:hover {
            color: $hover-blue;
        }
    }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .App {
        margin-top: 50px;
    }
}