/* body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  code {
    font-family: 'Poppins', sans-serif;
  } */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* Darkmode Theme */
  :root {
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
  }
  /* set colors for dark mode theme */
  [data-theme='dark'] {
    --background: #121212;
    --text-primary: white;
    --text-secondary: grey;
    --accent: darkred;
  }
  /* optional -> set colors for light mode theme */
  /* [data-theme='light'] {
    --background: ghostwhite;
    --text-primary: black;
    --text-secondary: red;
    --accent: orange;
  } */