// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.NewSubscriberForm {

    &__confirmText {
        position: absolute;
        margin-left: 2px;
        padding: 5px;
        margin-top: 2px;
        border-radius: 10px;
        width: 240px;
        background-color: $white;
        color: $black;
    }
}