// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.newsletterContainer {

  &__image {
    display: none; // disable mobile logo
  }

  &__newsletter {
    background-color: $logo-blue;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: "cryptotalk newsletter";

    &__image {
      grid-area: cryptotalk;
      text-align: right;
      img {
        margin: 20px;
        height: 150px;
      }
    }
    &__text {
      grid-area: newsletter;
      text-align: center;
      color: $white;
      font-family: sans-serif;
      line-height: 1.5em;
      &__info {
        font-size: 15px;
        font-family: serif;
        text-shadow: 1px 1px $light-gray;
      }

      &__emailSubscribe {
        margin-top: 15px;
        input {
          padding: 12px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border: none;
          width: 240px;
          &::placeholder {
            font-style: italic;
          }
        }
        button {
          padding: 12px;
          background-color: $white;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border: none;
          margin-left: -4px;
          border-left: 1px solid $light-gray;
          color: rgb(11, 123, 184);
          font-weight: 600;
          width: 100px;
          cursor: pointer;
        }
      }
    }
  }
}

// MEDIUM SCREEN styling
@media only screen and (min-width:$mobile) and (max-width: $mediumScreen){
  .newsletterContainer {
    &__newsletter {
      &__text {
        &__emailSubscribe{
          input {
            width: 130px;
          }
          button {
            width: 90px;
          }
        }
      }
    }
  }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
  .newsletterContainer {
    display: grid;
    grid-template-areas:
    "newsletterLogo"
    "newsletterSignUp";

    &__image {
      background-color: $logo-blue;
      grid-area: newsletterLogo;
      display: inline-block;
      text-align: center;
      padding-top: 20px;
      img {
        height: 90px;
      }
    }
  
    &__newsletter {  
      grid-area: newsletterSignUp;
      grid-template-columns: 1fr;

      &__image {
        display: none; // disable desktop logo
      }

      &__text {
        &__infoTitle {
          text-align: center;
        }
        &__info1 {
          text-align: center;
          text-shadow: none;
          font-size: 12px;
        }
        &__info2 {
          text-align: center;
          text-shadow: none;
          font-size: 12px;
        }

        &__emailSubscribe {
          text-align: center;
          padding-bottom: 40px;
          input {
            text-align: center;
            width: 70vw;
            margin: 0 auto;
            border-radius: 8px;
            margin-bottom: 10px;
          }
          button {
            width: 40vw;
            margin: 0 auto;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
