@import '../../designUtils/colors';

.user {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid $background-gray;

    &__info {
        margin-left: 20px;
    }

    &__name {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__infoLine {
        padding-left: 15px;
        font-size: 14px;
        color: $hover-blue;
        line-height: 20px;
    }
    
}