// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.users {
    color: $medium-gray;
    margin: 0px auto;
    height: 100vh;
    overflow-y: scroll;

    &__heading {
        margin-left: 10px;
    }
    
    &__cardsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
 
    &__noResults {
       font-weight: 600;
       margin: 0 auto;
       display: table;
       padding-top: 200px;
    }
}

// Individual user card
.userCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 350px;
    text-align: center;
    box-shadow: 0px 0px 3px 3px lightgray;
    margin: 5px;
    padding-top: 10px;

    &__info {
        &__name {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 8px;

            /* admin icon & tooltip */
            &__tooltip { /* tooltip */
                padding: 0px 10px;
                vertical-align: middle;
                font-family: monospace;
                position: relative;
                display: inline-block;
                cursor: pointer;

                &::after {
                    visibility: hidden;
                }

                &:hover { /* shows the tooltip on hover */
                    &::after {
                        content: "Admin";
                        visibility: visible;
                        text-align: center;
                        font-size: 12px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-transform: none;
                        
                        width: 100px;
                        background-color: $dark-bluegray;
                        color: $white;
                        text-align: center;
                        padding: 5px 0;
                        border-radius: 6px;

                        /* Position the tooltip */
                        position: absolute;
                        z-index: 1;

                        width: 90px;
                        top: 100%;
                        left: 50%;
                        margin-left: -45px; /* Use half of the width (120/2 = 60), to center the tooltip */
                    }
                }
            }
        }
    
        &__infoLine {
            padding-left: 15px;
            font-size: 14px;
            color: $medium-gray;
            line-height: 20px;
            
            &__button {
                margin: 10px 0px;
                // padding-left: 15px;
                a {
                    background-color: $light-gray;
                    font-size: 18px;
                    color: $dark-bluegray;
                    padding: 5px;
                    text-decoration: none;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: 0px 0px 5px $dark-bluegray;
                    }
                }
            }
        }
    }

    &__profileImage {
        padding: 0px 30px;
        img {
            // border: 10px solid hotpink;
            border-radius: 10%;
            height: 150px;
            box-shadow: 0px 2px 5px $dark-bluegray;
        }
    }
}

.userDetails {
    padding: 20px;
    
    &__editButton {
        float: right;
        margin: 15px 20px;
        button {
            cursor: pointer;
            padding: 5px;
            width: 80px;
            border: none;
            border-radius: 5px;
            color: $white;
            background: $medium-gray;
        }
    }

    &__details {
        // background: $light-gray;

        &__name {
            background-color: $dark-bluegray;
            padding: 10px;
            font-size: 30px;
            color: white;
        }

        &__bio {
            padding: 5px 20px;
            line-height: 1.5em;

            &__profilePhoto {
                display: inline-block;
                line-height: 1em;
                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.UserNewForm {
    padding: 10px 0px;

    &__container {
        display: block;
        background-color: $light-gray;
        box-shadow: 0px 0px 10px $navy;
        padding: 10px 20px;
        width: 320px;
        text-align: center;
        margin: 0 auto;
    
        &__form {
            margin-top: 10px;
            padding: 0px 10px 10px 10px;
            line-height: 2em;
            width: 300px;
            text-align: center;
            &__inner {
                &__fields {
                    display: inline-block;
                    &__group {
                        text-align: right;
                        input {
                            border: none; 
                        }
                    }
                    &__groupAdmin {
                        text-align: left;
                        padding-left: 12%;

                    }
                }
            }
        }

        &__submitButton {
            input {
                margin-top: 30px;
                display: inline-block;
                padding: 10px 15px;
                border-radius: 8px;
                background-image: linear-gradient(to bottom right, $logo-blue 50%, $logo-blue 50%, $light-gray);
                background-size: 200%;
                background-position: 0%;
                transition: 0.4s;
                color: white;
                cursor: pointer;
                text-align: center;
                width: 35%;
                font-size: 16px;
                margin: 15px auto;
                border: none;
    
                &:hover {
                    background-position: 100% 0%;
                }
            }
        }

        &__backToLogin {
            margin-top: 10px;
            padding: 5px;
            a {
                
                text-decoration: none;
                color: white;
                background-color: $logo-blue;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
}

.UserEditForm {
    padding: 10px 0px;

    &__container {
        display: block;
        background-color: $light-gray;
        box-shadow: 0px 0px 10px $navy;
        padding: 10px 20px;
        width: 320px;
        text-align: center;
        margin: 0 auto;
    
        &__form {
            margin-top: 10px;
            padding: 0px 10px 10px 10px;
            line-height: 2em;
            width: 300px;
            text-align: center;
            &__inner {
                &__fields {
                    display: inline-block;
                    &__group {
                        text-align: right;
                        input {
                            border: none;  
                        }
                    }
                    &__groupAdmin {
                        text-align: left;
                        padding-left: 12%;

                    }
                }
            }
        }

        &__submitButton {
            input {
                margin-top: 30px;
                display: inline-block;
                padding: 10px 15px;
                border-radius: 8px;
                background-image: linear-gradient(to bottom right, $logo-blue 50%, $logo-blue 50%, $light-gray);
                background-size: 200%;
                background-position: 0%;
                transition: 0.4s;
                color: white;
                cursor: pointer;
                text-align: center;
                width: 35%;
                font-size: 16px;
                margin: 15px auto 0px auto;
                border: none;
    
                &:hover {
                    background-position: 100% 0%;
                }
            }
        }

        &__cancelEditOrDelete {
            margin-top: -20px;
            
            button {
                text-decoration: none;
                color: white;
                background-color: $logo-blue;
                padding: 5px 10px;
                border-radius: 5px;
                margin: 0px 5px;
                cursor: pointer;
            }

            &__confirmDeleteAsk {
                p {
                    margin-bottom: 5px;
                    color: $chartJS-red;
                }
            }
            
            &__confirmDelete {
                padding-top: 2em;
                margin-top: 5px;
            }
        }
    }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .users {
        max-width: $mobile;
        text-align: center;
        height: 100%;

        &__heading {
            margin-left: 0px;
        }
    }
    
    .user {
        max-width: $mobile;
        text-align: left;
    }
}