// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';

.users {
    color: $medium-gray;
    height: 100vh;
    overflow-y: scroll;
    max-width: 1200px;
    margin: 20px auto;

    // input {
    // }

    &__heading {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }
    
    &__cardsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
 
    &__noResults {
       font-weight: 600;
       margin: 0 auto;
       display: table;
       padding-top: 200px;
    }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .users {
        max-width: $mobile;
        text-align: center;
        height: 100%;

        &__heading {
            margin-left: 0px;
        }
    }
    
    .user {
        max-width: $mobile;
        text-align: left;
    }
}