// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.users {
    color: $text-medium-gray;

    width: 600px;
    margin: 10vh auto;
    height: 80vh;
    background-color: white;
    overflow-y: scroll;
    border-radius: 8px;
    box-shadow: 0px 2px 5px green;
 
    &__noResults {
       font-weight: 600;
       margin: 0 auto;
       display: table;
       padding-top: 200px;
    }
}