// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';

.UserNewForm {
    padding: 10px 0px;

    &__container {
        display: block;
        // background-color: $light-gray;
        box-shadow: 0px 0px 10px $medium-gray;
        border-radius: 10px;
        padding: 10px 20px;
        width: 800px;
        text-align: center;
        margin: 0 auto;
    
        &__form {
            margin-top: 10px;
            padding: 0px 10px 10px 10px;
            line-height: 2em;
            width: 700px;
            text-align: center;
            margin: 0 auto;

            &__inner {
                &__fields {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin: 0 auto;

                    &__group {
                        text-align: right;
                        input {
                            background: none;
                            border: none;
                            margin-left: 5px;
                            color: $medium-gray;
                            font-size: 1.2em;
                            border-bottom: 1px solid $light-gray;
                        }
                    }
                    &__groupAdmin {
                        text-align: right;
                    }
                }
            }
        }

        &__backToLogin {
            display: inline-block;
            margin-top: 15px;
            span {
                margin-bottom: 5px;
            }
        }
    }
}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .UserNewForm {
        &__container {
            width: 80vw;
            &__form {
                width: 80vw;
            }
        }
    }
}