@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

.NftCart {
    &__title { 
        text-align: center;
        padding: 20px 0px;
    }

  &__table {
    margin: 0 auto;
    width: 800px;
    // border-spacing: 0;
    border-collapse: collapse;

    tr th {
      background-color: $light-gray;
      padding: 5px;
    }

    tr th,
    tr td {
      text-align: left;
      &:last-child {
        text-align: right;
      }
    }
  }

  tr td {
    height: 140px;
    vertical-align: top;
    padding: 15px 0;
  }

  &__productInfo {
    display: flex;
    gap: 30px;
  }

  &__productImage {
    img {
        height: 120px;
        width: 120px;
    }
  }

  &__productTitle,
  &__productImage {
    cursor: pointer;
  }

  &__productRemove {
    position: relative;
    bottom: -82px;
    cursor: pointer;
  }

  &__productQty {
    input {
      width: 40px;
      padding: 10px;
      font-size: 1.2em;
      outline: none;
      text-align: center;
      border: 1px solid black;

      &:focus {
        border: 2px solid hotpink;
      }
    }
  }
}
