@import '../../designUtils/colors';

.nftCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__card {
        box-shadow: 3px 3px 10px 3px #d4d4d4;
        margin: 5px;
 
        &__details {
            padding: 15px;
            color: $black;
            font-weight: 600;
            font-size: 20px;
            
            display: grid;
            width: 250px;
            height: 350px;

            &__image {
                text-align: center;
                overflow: hidden;
                height: 250px;

                img {
                    height: 250px;
                    width: auto;

                    &:hover{
                        transform: scale(1.2);
                        transition: transform .2s;
                        cursor: pointer;
                    }
                }
            }

            &__itemName {
                text-align: left;
            }

            &__price {
                text-align: left;
                font-size: 20px;
                padding-top: 10px;

                &__current {
                    color: $medium-gray;
                    font-size: 14px;
                    font-weight: 350;
                }

                img {
                    height: 20px;
                    vertical-align: bottom;
                }
                span {
                    vertical-align: middle;
                    color: $medium-gray;
                    font-size: 14px;
                    font-weight: 350;
                }
            }
        
        }

        a {
            text-decoration: none;
        }

        &__addToCart {
            display: block;
            text-transform: uppercase;
            padding: 15px 0px 15px 0px;
            text-align: center;
            text-decoration: none;
            color: $white;
            font-weight: 600;
            padding: 10px 3px 10px 3px;
            position: relative;
            background-color: $logo-blue;

            &:hover {
                color: $white;
                opacity: 90%;

                &::before {
                    transform: scaleX(1); 
                }
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 3px;
                left: 0;
                background-color: $white;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }  
        }
    }

}