.nftShop {
    padding: 20px 0px;
    margin: 0 auto;
    max-width: 1200px;

    h1 {
        text-align: center;
    }

    &__shopHeader {
        text-align: center;
        padding-bottom: 10px;

        &__cartButton {
            border: none;
            font-size: 18px;
            border-radius: 15px;
            padding: 10px;
            cursor: pointer;
            margin-bottom: 15px;
        }
    }
}

// https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
// ^ For expanding underline on hover for Add to Cart button.