@import '../../designUtils/colors';
@import '../../designUtils/fonts';
@import '../../designUtils/media';

// https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
// ^ For expanding underline on hover for Add to Cart button.

.nftShop {
    h1 {
        text-align: center;
    }
    padding: 20px 0px;
}


.nftCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__card {
        box-shadow: 3px 3px 10px 3px #d4d4d4;
        margin: 5px;
 
        &__details {
            padding: 15px;
            color: black;
            font-weight: 600;
            font-size: 20px;
            
            display: grid;
            width: 250px;
            height: 350px;

            &__image {
                text-align: center;
                overflow: hidden;
                height: 250px;

                img {
                    height: 250px;
                    width: auto;

                    &:hover{
                        transform: scale(1.2);
                        transition: transform .2s;
                        cursor: pointer;
                    }
                }
            }

            &__itemName {
                text-align: left;
            }

            &__price {
                text-align: left;
                font-size: 20px;
                padding-top: 10px;

                &__current {
                    color: $medium-gray;
                    font-size: 14px;
                    font-weight: 350;
                }

                img {
                    height: 20px;
                    vertical-align: bottom;
                }
                span {
                    vertical-align: middle;
                    color: $medium-gray;
                    font-size: 14px;
                    font-weight: 350;
                }
            }
        }
    }

    &__cart {
        border-top: 1px solid #000000;
        text-transform: uppercase;
        padding: 15px 0px 15px 0px;
        text-align: center;

        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            padding: 10px 3px 10px 3px;
            position: relative;

            &:hover {
                color: #000;

                &::before {
                    transform: scaleX(1); 
                }
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: sienna;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }
        }
    }
}

// medium screens styling
// @media only screen and (max-width: $mediumScreen){
//     .nftCards {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         width: 80%;
//     }
// }


// MOBILE styling
// @media only screen and (max-width: $mobile){
//     .nftCards {
//         display: flex;
//         flex-direction: column;
//         width: 90vw;

//         &__card__details{
//             margin: 0 auto;
//         }
//     }
// }
