// import colors from designUtils
@import "../../designUtils/colors";

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    // transition: 0.4s;

    &:hover {
        background-color: #ccc;
    }

    /* Add (+ -) buttons */
    &:after {
        content: "\02795"; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
}

/* Add a background color to the button if it is clicked on (add the .active/true class with JS), and when you move the mouse over it (hover) */
.true {
    background-color: #ccc;

    &:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
}

/* Style the accordion panel. Note: hidden by default */
/* Animated Accordion (Slide Down) */
.panel {
    padding: 0 18px;
    // background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
