// import colors from designUtils
@import '../../designUtils/colors';

.LearnPanelDetails {
    
    &__topic {
        color: $medium-gray;
        padding: 10px;
        font-size: 14px;

        a {
            text-decoration: none;
            color: $light-gray;
            &:hover {
                color: $medium-gray;
                text-decoration: underline;
            }
        }
    }
}