// import colors from designUtils
@import '../../designUtils/colors';
@import '../../designUtils/media';
@import '../../designUtils/fonts';

.Learn {
    // font-family: $logo-font-family;
    margin: 20px;
    
    header {
        text-align: center;
        margin-top: 80px;
    }
    &__search {
        margin: 0 auto;
        width: 90%;
    }
    &__questionsAccordion {
        margin: 0 auto;
        width: 90%;
    }

}

// MOBILE styling
@media only screen and (max-width: $mobile){
    .Learn {
        &__search {
            text-align: center;
            margin: 0 auto;
            width: 90%;
        }
        &__questionsAccordion {
            width: auto;
        }
    }
}